* {
  margin: 0px;
}
#container {
  width: 100%;
  background-color: #f5f5f7;
}
nav {
  display: flex;
  gap: 24px;
}

#gra-pic {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
}
.header {
  font-family: "Inter", sans-serif;
  color: #0f0000;
  width: 100%;
  background-color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 24px;
  justify-content: center;
  height: 52px;
}
.header-icons {
  height: 15.94px;
  width: 12.97px;
}
.second {
  font-size: 14px;
  font-weight: 400px;
  margin-top: 0px;
}
.gradient-back {
  margin-left: 50px;
  margin-right: 50px;
}

.holiday-text {
  background: linear-gradient(#ab2ab7, #f55600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gradient-line {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#taniltsuulga {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 700;
  justify-content: space-between;
  gap: 20px;
}
#zuragtai-taniltsuulga {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  font-family: "Inter", sans-serif;
  gap: 10px;
}
#neg-huuhen {
  height: 35px;
  width: 35px;
}
#lil-photos {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 50px;
  scroll-snap-type: x mandatory;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-left: 50px;
}

.lil-photos-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-photos {
  height: 78px;
  width: 120px;
}
.header-second {
  display: flex;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  gap: 20px;
  margin-bottom: 30px;
}
.gray-text {
  font-size: 24px;
  font-weight: 700;
  color: #6e6e73b1;
}
.colorful-text {
  background: linear-gradient(#ab2ab7, #f55600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 700;
  margin-left: 50px;
}
.cards1 {
  height: 500px;
  width: 480px;
  display: flex;
  position: relative;
}
.cards {
  display: flex;
  height: 500px;
  width: 400px;
  position: relative;
}
.picc {
  border-radius: 15px;
}

.scroll-tags {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  gap: 25px;
  margin-left: 50px;

  scroll-snap-type: x mandatory;
}
.card-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Inter", sans-serif;
}
.tiny-header {
  font-size: 12px;
  font-weight: 700;
  color: #b64400;
}
.big-text {
  font-size: 18px;
  font-weight: 700;
  color: #1d1d1f;
}
.tiny-text {
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f99;
}
.airpod {
  position: absolute;
  top: 30px;
  left: 20px;
}
.third {
  display: flex;
  justify-content: start;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f5f5f7;
}
.scroll-photos-2 {
  display: flex;
  margin-left: 50px;
  overflow-x: scroll;
  width: 100%;
  gap: 25px;
  scroll-snap-type: x mandatory;
}
.scroll-tags2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#airpodspic {
  /* height: 500px;
  width: 400px; */
  /* margin: 0px; */
  border-radius: 15px;
}

.cards2 {
  background-color: white;
  border-radius: 15px;
  font-family: "Inter", sans-serif;
  height: 500px;
  width: 313px;
  position: relative;
}
.basic-photos {
  height: 230px;
  width: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
}
.price {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1d1d1fb8;
  position: absolute;
  top: 450px;
  left: 25px;
}
.airpod {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  position: absolute;
  top: 30px;
  left: 20px;
}
.dot {
  height: 25px;
  width: 25px;
}
.dots {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.card-text2 {
  position: absolute;
  top: 360px;
  left: 25px;
}
.trade-in {
  display: flex;
  gap: 15px;
  margin-left: 50px;
  overflow-x: scroll;
  width: 100%;
  gap: 25px;
  scroll-snap-type: x mandatory;
}
.big-pic {
  height: 500px;
  width: 480px;
  border-radius: 15px;
}
.giftbag,
.hand2hand {
  position: relative;
}
.giftbag-text1 {
  position: absolute;
  height: 130px;
  width: 305px;
  top: 50px;
  z-index: 10;
  left: 30px;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.custom-tags {
  background-color: #ffffff;
  height: 240px;
  width: 313px;
  border-radius: 15px;
}
.four-texts1,
.four-texts2 {
  font-family: "Inter", sans-serif;
  height: 500px;
  width: 313px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tom-text {
  color: #1d1d1fc6;
  font-size: 26px;
  font-weight: 700;
  height: 66px;
  width: 275px;
}

.charlie {
  color: #f5f5f7;
}
#jijkenn {
  font-size: 17px;
  font-weight: 400;
  height: 41px;
  width: 259px;
  color: #1d1d1fa5;
}
.custom-tags {
  display: flex;
  gap: 15px;
  position: relative;
}
.lil-button-text {
  position: absolute;
  width: 244px;
  top: 82px;
  left: 30px;
  font-size: 22px;
  font-weight: 700;
}
.giftbag-text2 {
  position: absolute;
  height: 130px;
  width: 305px;
  top: 50px;
  left: 30px;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.trade-lil-text {
  font-size: 12px;
  font-weight: 700;
  color: #6e6e73b1;
  margin-bottom: 10px;
}

.header-last {
  font-family: "Inter", sans-serif;
  display: flex;
  gap: 10px;
  height: 66px;
}
.cards-full {
  height: 500px;
  width: 400px;
  display: flex;
  position: relative;
}
.last {
  border-radius: 15px;
}
.scroll-images-bottom {
  display: flex;
  gap: 15px;
  margin-left: 50px;
  overflow-x: scroll;
  width: 100%;
  gap: 25px;
  scroll-snap-type: x mandatory;
}
.cards-text2 {
  position: absolute;
  top: 31px;
  left: 30px;
  font-family: "Inter", sans-serif;
}
.last-liltext {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #6e6e73b1;
  margin-bottom: 10px;
}
.tsgaan-text {
  color: #ffffffc6;
  font-size: 26px;
  font-weight: 700;
  height: 66px;
  width: 275px;
}
.jijken-text {
  font-size: 17px;
  font-weight: 400;
  color: #1d1d1f79;
  position: absolute;
  top: 118px;
}
.footer {
  height: 250px;
  width: 100%;
  position: relative;
}
#footer-tags {
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: "Inter", sans-serif;
}
#quick-text {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.buttons {
  height: 40px;
  width: 125px;
  border-radius: 999px;
  color: #1d1d1fb6;
  border: solid, 1px #1d1d1f79;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin: 5px;
}
.duus {
  height: 8px;
  width: 8px;
}
.lilpic2-text {
  position: absolute;
  top: 109px;
  left: 226px;
}
button:active {
  background-color: #fffffff8;
}
