* {
  margin: 0px;
}
#container {
  width: 100%;
  background-color: #f5f5f7;
}
nav {
  display: flex;
  gap: 24px;
}

#gra-pic {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
}
.header {
  font-family: "Inter", sans-serif;
  color: #0f0000;
  width: 100%;
  background-color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 24px;
  justify-content: center;
  height: 52px;
}
.header-icons {
  height: 15.94px;
  width: 12.97px;
}
.second {
  font-size: 14px;
  font-weight: 400px;
  margin-top: 0px;
}
.gradient-back {
  margin-left: 50px;
  margin-right: 50px;
}

.holiday-text {
  background: linear-gradient(#ab2ab7, #f55600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gradient-line {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#taniltsuulga {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 700;
  justify-content: space-between;
  gap: 20px;
}
#zuragtai-taniltsuulga {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  font-family: "Inter", sans-serif;
  gap: 10px;
}
#neg-huuhen {
  height: 35px;
  width: 35px;
}
#lil-photos {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: scroll;
  gap: 50px;
  scroll-snap-type: x mandatory;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  align-content: center;
}
.header-photos {
  height: 78px;
  width: 120px;
}
.header-second {
  display: flex;
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  gap: 20px;
}
.gray-text {
  font-size: 24px;
  font-weight: 700;
  color: #6e6e73b1;
}
.colorful-text {
  background: linear-gradient(#ab2ab7, #f55600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 700;
  margin-left: 50px;
}
.cards {
  display: flex;
  height: 500px;
  width: 480px;
  position: relative;
  margin-top: 25px;
}
.picc {
  border-radius: 35px;
}

.scroll-tags {
  display: flex;
  overflow-x: scroll;
  justify-content: center;
  width: 100%;
  gap: 50px;
  scroll-snap-type: x mandatory;
}
.card-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Inter", sans-serif;
}
.tiny-header {
  font-size: 12px;
  font-weight: 700;
  color: #b64400;
}
.big-text {
  font-size: 26px;
  font-weight: 700;
  color: #1d1d1f;
}
.tiny-text {
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f99;
}
.airpod {
  position: absolute;
}
.third {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    background-color: #f5f5f7;
}
.scroll-photos-2 {
    display: flex;
  /* overflow-x: scroll;
  justify-content: center;
  width: 100%;
  gap: 30px;
  scroll-snap-type: x mandatory; */
}
.scroll-tags2 {
    display: flex;
    justify-content: center;
    align-content: center;
}
#airpodspic {
    height: 500px;
    width: 400px;
}
.cards2 {
    background-color: white;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    height: 500px;
    width: 313px;
}
.basic-photos {
    height: 230px;
    width: 230px;
    margin-top: 71px;
    margin-left: 41.5px;
}
.price {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1d1d1fb8;
}
.airpod {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #000000;
    
}
.dot {
    height: 25px;
    width: 25px;
}
.dots {
    display: flex;
    gap: 5px;
    justify-content: center;

}